<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <script src="../resources/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(item, i) in ingredients" :key="item">{{ item }}({{ i }})</li>
    </ul>
    <button @click="ingredients.push('spices')">添加</button>
    
    <hr>
    
    <template v-for="(item, index) in ingredients">
        <h1>{{ item }}</h1>
        <p>{{ index }}</p>
    </template>
    
    <hr>
    
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }}:{{ value }}({{ index }})</div>
        </li>
    </ul>
    
    <hr>
    
    <span v-for="n in 10">{{ n }}</span>
    
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
            ]
        }
    });
</script>

</body>
</html>